.page {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #F5F5DC, #B5E549);

  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-family: Arial;
  padding: 20px;
  box-sizing: border-box;

  overflow-y: auto; /* önemli */
}

.dashboard-card {
  width: 80%;
  background-color: white;

  border-radius: 30px;
  padding: 40px;

  box-shadow: 0px 20px 50px rgba(0,0,0,0.2);

  text-align: center;

  box-sizing: border-box;
}